/* 구간 편집 */
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr 100px;
    grid-template-areas:
    'header header'
    'main main'
    'main2 main2'
    'footer footer';
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.main2 {
    grid-area: main2;
}

footer {
    grid-area: footer;
}
/* 구간 편집 */

/* 헤더 그리드 */
.menu {
    display: grid;
    grid-template-columns: 3fr 876.5px 1fr ;
    gap: 60px;
    grid-template-areas:
    'a b c';
    align-items: center;
}
.menua {
    grid-area: a;
}
.menub {
    grid-area: b;
}
.menuc {
    grid-area: c;
}
/* 헤더 그리드 */

/* 메인2 그리드 */
.imgtext {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
    'a b c'
    'd e f'
    'g h h';
}

.img1 {
    grid-area: a;
}

.text1 {
    grid-area: b;
}

.text2 {
    grid-area: e;
}

.img2 {
    grid-area: f;
}

.img3 {
    grid-area: g;
}

.text3 {
    grid-area: h;
}
/* 메인2 그리드 */
