.cam {
    display: flex;
    justify-content: center;
}

.f1img {
    width: 550px;
    height: 350px;
}

.introbaby2 {
    display: flex;
    align-items: center;
}

.f2img {
    width: 550px;
    height: 440px;
}

.f2 {
    font-size: 13px;
}

.introdis {
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

